# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Data
/data/
*.tar.gz
*.zip

# SwissImage Annotator
swissimage_annotator/*

# Logs
/logs/
*.log

# Plots
/plots/
*.png
*.jpg

# ML artifacts
trained_models/*
optuna_runs/*
*.pth
*.pt
*.ckpt

# Allow selected Models
!trained_models/selected_models/
!trained_models/selected_models/**

# VS Code
.vscode/

# Torch cache
.cache/